<section class="recipe-edit container">
  <h3>{{ recipe._id ? 'Edit' : 'Add' }} Recipe</h3>
  <form>
    <div>
      <textarea [(ngModel)]="recipe.name" type="text" name="name" class="name" ></textarea>
    </div>

    
    <div class="ingredients">
    <h2>Ingredients</h2>

    <div *ngFor="let ingredient of recipe.ingredients">
      <ingredient-edit [ingredient]="ingredient" (removeIngredient)="onRemoveIngredient($event)"></ingredient-edit>
    </div>
      <button (click)="onAddIngredient()">Add Ingredient</button>
    <!-- </div> -->
  </div>
  <div>
    <div class="center">
  <img src={{recipe.imgURL}} alt="">
  <div class="directions">
      <label for="directions" class="directions-label">Instructions:</label>
      <textarea [(ngModel)]="recipe.directions" name="directions" id="directions" class="directions-area"
      (input)="setTextareaHeight()"></textarea>
    </div>
    </div>
    <button (click)="onSaveRecipe()">Save Changes</button>
    <div>
    </div>
      <label for="link">Link:</label>
      <input [(ngModel)]="recipe.link" class="link-input" type="text" name="link" id="link">
    </div>
  </form>
</section>
