<div class="filter">
    <div class="filter-input">
      <label for="filter-input">Filter by recipe name:</label>
      <input type="text" id="filter-input" name="filter-input">
    </div>
    <div class="filter-ingredients">
      <h3>Filter by ingredient:</h3>
      <div class="ingredient" *ngFor="let ingredient of uniqueIngredients">
        <label>
            <input type="checkbox" class="ingredient-filter" value="{{ingredient}}">
          {{ ingredient }}
        </label>
      </div>
    </div>
  </div>
  