<div class="recipe-details container">
    <h1>{{ recipe.name }}</h1>
    <h2 class="ingredients-header">Ingredients</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        <label>
          <input type="checkbox">
          <span class="ingredient-text">{{ ingredient.quantity }} {{ ingredient.name }}</span>
        </label>
      </li>
    </ul>
    <div class="center">
      <img src="{{ recipe.imgURL }}" alt="Recipe image">
      <p>{{ recipe.directions }}</p>
    </div>
    <a href="{{ recipe.link }}" target="_blank">View full recipe</a>
    <a [routerLink]="['/edit', recipe._id]">Edit Recipe</a>

  </div>
  